<h1>{{ 'Signup' | translate }}</h1>

<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <p>
    <mat-form-field appearance="outline">
      <mat-label>{{ 'Name' | translate }}:</mat-label>
      <input
        matInput
        type="text"
        [formControl]="name"
        (blur)="updateNameErrorMessage()"
        autocomplete="one-time-code"
      />
      @if (name.value !== '') {
      <button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="name.setValue('')"
      >
        <mat-icon>close</mat-icon>
      </button>
      } @if (name.invalid) {
      <mat-error>{{ errorNameMessage | translate }}</mat-error>
      }
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>{{ 'Email' | translate }}:</mat-label>
      <input
        matInput
        type="email"
        [formControl]="email"
        (blur)="updateEmailErrorMessage()"
        autocomplete="one-time-code"
      />
      @if (email.value !== '') {
      <button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="email.setValue('')"
      >
        <mat-icon>close</mat-icon>
      </button>
      } @if (email.invalid) {
      <mat-error>{{ errorEmailMessage | translate }}</mat-error>
      }
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>{{ 'Password' | translate }}:</mat-label>
      <input
        matInput
        type="password"
        [formControl]="password"
        (blur)="updatePasswordErrorMessage()"
        autocomplete="one-time-code"
      />
      @if (password.value !== '') {
      <button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="password.setValue('')"
      >
        <mat-icon>close</mat-icon>
      </button>
      } @if (password.invalid) {
      <mat-error>{{ errorPasswordMessage | translate }}</mat-error>
      }
    </mat-form-field>
  </p>
  <button
    mat-raised-button
    type="submit"
    color="primary"
    [disabled]="signupForm.invalid"
  >
    {{ 'Signup' | translate }}
  </button>
</form>
