<div class="sidebar">

  <mat-nav-list class="sidebar-nav-list">
    <h3 matSubheader class="sidebar-subheader">{{ 'Sources' | translate }}</h3>
    <a mat-list-item [routerLink]="['/']">{{ 'All' | translate }}</a>
    <ng-container *ngFor="let source of sources$ | async">
      <a mat-list-item [routerLink]="['/sources', source.name]" routerLinkActive="active">{{ source.name }}</a>
    </ng-container>
</mat-nav-list>
<mat-divider></mat-divider>
    <mat-nav-list class="sidebar-nav-list">
        <h3 matSubheader class="sidebar-subheader">{{ 'Categories' | translate }}</h3>
        <mat-divider></mat-divider>
          <ng-container *ngFor="let category of categories$ | async">
            <a mat-list-item [routerLink]="['/categories', category.slug]" routerLinkActive="active">{{ category.name }}</a>
          </ng-container>
    </mat-nav-list>
</div>
