:host {
  .sidebar-nav-list {
    list-style: none;
    padding: 0;
    margin: 0;

    .sidebar-subheader {
      margin: 0;
      padding: 16px;
      font-size: 20px;
      font-weight: 500;
      color: white;
      background-color: #3f51b5;
    }
    a.mat-mdc-nav-list.mat-mdc-list-item {
      .active {
        background-color: #3f51b5;
        color: white;
      }
    }
  }
}
