:host {
  .sources-list {
    .source-header {
      text-align: left;
      width: 100%;
    }
    .create-btn {
      text-align: right;
      margin-left: 15px;
    }
    .example-spacer {
      flex: 1 1 auto;
    }
    .mat-grid-tile {
      &-strong,
      &-span,
      &-div {
        width: 100%;
        text-align: left;
      }
    }
  }
}
