:host {
  .categories-list {
    .category-header {
      text-align: left;
      width: 100%;
    }
    .create-btn {
      text-align: right;
    }
    .example-spacer {
      flex: 1 1 auto;
    }
    .mat-grid-tile {
      &-strong,
      &-span,
      &-div {
        width: 100%;
        text-align: left;
      }

    }
  }
}
